---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";

type Props = {
    title: string;
    description?: string;
};

const { title, description = "Shira: Jewish Music Collections at Penn Libraries" } = Astro.props;
const currentPage = Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<html lang="en" data-page={currentPage}>
<head>
    <SEO
            title={title}
            description={description}
            charset="UTF-8"
            openGraph={{
                basic: {
                    title,
                    type: "image/jpeg",
                    image: "/playersclub-og.jpg",
                },
            }}
    />
    <ClientRouter />
    <title></title>
</head>
<body class="bg-white text-black">
<Header />
<slot />
<Footer />
</body>
</html>