---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import '@fontsource/carrois-gothic';


type Props = {
    title?: string;
    description?: string;
};

const SITE_NAME = "Shira: Jewish Music Collections at Penn Libraries";
const { title = SITE_NAME, description = SITE_NAME } = Astro.props;
const currentPage = Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<html lang="en" data-page={currentPage}>
<head>

    <SEO
            title={title}
            description={description}
            charset="UTF-8"
            openGraph={{
                basic: {
                    title,
                    type: "website",
                    image: "/JewishMusic.png",
                },
            }}
    />
    <ClientRouter />
    <title></title>
</head>
<body class="bg-white text-black">
<Header />
<SmoothScroll />
<slot />
<Footer />
</body>
</html>