---
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
import "../styles/global.css";
 import {ClientRouter} from "astro:transitions";
import SmoothScroll from "../components/SmoothScroll.astro";
import Header from "../components/Header.astro";

type Props = {
    title: string;
    description?: string;
};

const { title, description = "Shira: Jewish Music Collections at Penn Libraries" } = Astro.props;

// Current page value (/home, /about, /404 ...)
const currentPage =
    Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<html lang="en" data-page={currentPage}>
<head>
    <SEO
            title={title}
            description={description}
            charset="UTF-8"
            openGraph={{
                basic: {
                    title: title,
                    type: "image/jpeg",
                    image: "/playersclub-og.jpg",
                },
            }}



    />
    <ClientRouter />
</head>
<body>
<SmoothScroll />
<Header />
<slot />
<Footer />
<script src="../scripts/imageFade.js"></script>
</body>
</html>